
.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btns {
    display: flex;
    gap: 10px;
}

.btn {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}